table{
	width:auto;
	border-spacing: o;
	font-size:14px;
}

table th{
color:#fff;
padding:8px 15px;
background: #258;
background:-moz-linear-gradient(rgba(34,85,136,0,7),rgba(34,85,136,0.9));
background:-wibkit-gradient(linear,100%);
font-weight: bold;
border-left:1px soild#258;
border-top:1px soild #258;
border-bottom:1px soild #f258;
line-height:120px
text-align:center;
tex-shadow:0px 1px 1px rgba(255,255,255,0.3) insert;
}

table th:first-child{
	border-radius:5px 000;
}
table th:last-child{
	border-radius:0 5px 0 0;
	border-right:1px soild #258;3
	box-shadow:2px 2px 1px rgba(0,0,0,0,1),0px 1px 1px rgba(255,255,255,0.3) insert;

}

table tr td:last-child{
	border-right: 1px solid #84b2e0;
	box-shadow:2px 2px 1px rgba(0,0,0,0,1);
	}
	table tr{
	background:#fff;

	table tr:nth-child(2n+1){
	background:#flf6fc;
	}

	table tr:last-child td:last-child{
	border-radius:oo00 5px 0;
	}
	table tr:hover{
	background:#bbd4ee;
	cursor:pointer;
	}


